[submodule "week1/week1_assigments/lib/forge-std"]
	path = week1/week1_assigments/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week1/week1_assigments/lib/openzeppelin-contracts"]
	path = week1/week1_assigments/lib/openzeppelin-contracts
	url = https://github.com/openZeppelin/openzeppelin-contracts
[submodule "week1/week1_assigments/lib/erc1363-payable-token"]
	path = week1/week1_assigments/lib/erc1363-payable-token
	url = https://github.com/vittominacori/erc1363-payable-token
[submodule "week1/week1_assigments/lib/solidity-math-utils"]
	path = week1/week1_assigments/lib/solidity-math-utils
	url = https://github.com/barakman/solidity-math-utils
[submodule "week1/week2_assigments/lib/forge-std"]
	path = week2/week2_assigments/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week1/week2_assigments/lib/openzeppelin-contracts"]
	path = week2/week2_assigments/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "week1/week1_assigments/lib/prb-math"]
	path = week1/week1_assigments/lib/prb-math
	url = https://github.com/PaulRBerg/prb-math
[submodule "common/vertigo-rs"]
	path = common/vertigo-rs
	url = https://github.com/RareSkills/vertigo-rs.git
[submodule "common/building-secure-contracts"]
	path = common/building-secure-contracts
	url = https://github.com/caoyifeng007/building-secure-contracts.git
[submodule "common/capture-the-ether-foundry"]
	path = common/capture-the-ether-foundry
	url = https://github.com/caoyifeng007/capture-the-ether-foundry.git
[submodule "common/ethernaut-foundry-solutions/lib/ethernaut"]
	path = common/ethernaut-foundry-solutions/lib/ethernaut
	url = https://github.com/OpenZeppelin/ethernaut
[submodule "common/ethernaut-foundry-solutions/lib/openzeppelin-contracts"]
	path = common/ethernaut-foundry-solutions/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "common/learn-evm-attacks"]
	path = common/learn-evm-attacks
	url = https://github.com/caoyifeng007/learn-evm-attacks.git
[submodule "common/damn-vulnerable-defi"]
	path = common/damn-vulnerable-defi
	url = https://github.com/caoyifeng007/damn-vulnerable-defi.git
[submodule "common/gas-puzzles"]
	path = common/gas-puzzles
	url = https://github.com/caoyifeng007/gas-puzzles.git
[submodule "common/evm-puzzles"]
	path = common/evm-puzzles
	url = https://github.com/caoyifeng007/evm-puzzles.git
[submodule "common/more-evm-puzzles"]
	path = common/more-evm-puzzles
	url = https://github.com/caoyifeng007/more-evm-puzzles.git
